body { margin: 0px auto; padding: 0px; }

/* For the demo */
.container {
    max-width: 80%; padding-left: 15px; padding-right: 15px;
    margin-left: auto; margin-right: auto;
}
p { padding-bottom: 50px; }

[class*="reveal"] { opacity: 0; transform: translateY(30px); }
.reveal-visible { opacity: 1; transform: translateY(0); transition: 1s cubic-bezier(.5, 0, 0, 1); }

.reveal-2 { transition-delay: .1s; }
.reveal-3 { transition-delay: .2s; }
/* Put the transition-delay you want and add as many classes as you want */